# Tailored Resumes Output Folders (Sameer-<Company>-<Role>)
Sameer-*/
tailored_resume.tex

# LaTeX Temporary / Build Files
*.aux
*.fdb_latexmk
*.fls
*.glob
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
